
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import 'tailwindcss';

@theme {
  --font-jetbrains: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
}


.wavy-underline {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

li::marker {
  content: "• ";
  font-size: medium;
}

li:has(span:hover)::marker {
  content: "- ";
}

